/* colors Selene57 */

* {
  al:      #00000000;
  bg:      #1E1E2EFF;
  se:      #ffd5cdff;
  fg:      #D9E0EEFF;
  ac:      #ea907aff;
  urgent:  #EC7875ff;
  green:   #c9e0c4ff;
  yellow:  #e0dec4ff;
  yellow2: #e0dbc4ff;
  blue:    #c4e0dbff;
  purple:  #DBC4E0FF;
  cyan:    #4DD0E1ff;
  pink:    #e0c4c9ff;
  lightpurple: #e0c4d7;
  darkpurple: #cdc4e0;
  lavender: #C9CBFFFF;
  sky: #89DCEBFF;
}
